## Демонстрация csv_transformer_profit

Проверяем обработку дохода позиции на файле trade_data/T_GLD_new_tr_1_1t.csv.

In [1]:
from pathlib import Path
from src.data.csv_transformer_profit import load_transform_csv

DATA_FILE = Path("trade_data/T_GLD_new_tr_1t.csv")
processed = load_transform_csv(DATA_FILE)
processed

              date_time    price  current_pos  position_profit
0   2025-10-19 10:00:00  11010.2            1              0.0
1   2025-10-19 11:00:00  10981.9            0            -29.3
2   2025-10-19 11:00:00  10981.9           -1              0.0
3   2025-10-19 12:40:00  10993.3           -2              0.0
4   2025-10-19 14:46:00  11032.9           -3              0.0
..                  ...      ...          ...              ...
178 2025-11-10 13:01:00  10604.9           11              0.0
179 2025-11-10 15:16:00  10658.0           10              0.0
180 2025-11-10 20:10:00  10674.3            9              0.0
181 2025-11-10 23:01:00  10726.9            8              0.0
182 2025-11-11 10:11:00  10794.1            7           1884.9

[183 rows x 4 columns]

In [2]:
processed[['date_time','current_pos','position_profit']].tail(20)

              date_time  current_pos  position_profit
163 2025-11-05 20:16:00           14              0.0
164 2025-11-06 09:56:00           13              0.0
165 2025-11-06 11:26:00           12              0.0
166 2025-11-06 12:46:00           13              0.0
167 2025-11-06 17:11:00           14              0.0
168 2025-11-06 18:40:00            0             48.9
169 2025-11-06 18:40:00          -14              0.0
170 2025-11-06 20:41:00          -15              0.0
171 2025-11-07 16:11:00          -14              0.0
172 2025-11-07 17:11:00          -15              0.0
173 2025-11-08 11:50:00            0           -561.3
174 2025-11-08 11:50:00           15              0.0
175 2025-11-10 08:55:00           14              0.0
176 2025-11-10 09:01:00           13              0.0
177 2025-11-10 09:01:00           12              0.0
178 2025-11-10 13:01:00           11              0.0
179 2025-11-10 15:16:00           10              0.0
180 2025-11-10 20:10:00            9              0.0
181 2025-11-10 23:01:00            8              0.0
182 2025-11-11 10:11:00            7           1884.9

In [3]:
processed[processed['position_profit'] != 0]

              date_time    price  current_pos  position_profit
1   2025-10-19 11:00:00  10981.9            0            -29.3
5   2025-10-19 15:15:00  11024.0            0            -66.9
13  2025-10-20 15:31:00  11178.6            0            335.2
15  2025-10-20 19:16:00  11219.1            0             45.8
19  2025-10-21 11:05:00  11073.1            0           -246.4
27  2025-10-21 17:21:00  10837.0            0            568.9
34  2025-10-22 10:35:00  10917.9            0           -379.7
38  2025-10-22 12:55:00  10693.7            0          -1092.0
46  2025-10-22 22:40:00  10763.8            0           -348.3
59  2025-10-24 09:40:00  10704.3            0           -489.1
83  2025-10-27 17:25:00  10095.4            0           3629.0
87  2025-10-27 21:20:00  10289.0            0           -250.1
92  2025-10-28 09:30:00  10093.3            0           -810.6
103 2025-10-29 09:30:00  10158.1            0           -299.7
113 2025-10-29 22:35:00  10141.5            0            130.9
117 2025-10-30 11:50:00  10280.6            0          -1054.1
135 2025-10-31 19:35:00  10332.6            0            747.1
143 2025-11-01 15:10:00  10416.5            0           -716.1
149 2025-11-03 13:55:00  10322.3            0          -1119.7
158 2025-11-05 11:50:00  10371.1            0           -466.0
168 2025-11-06 18:40:00  10369.4            0             48.9
173 2025-11-08 11:50:00  10407.9            0           -561.3
182 2025-11-11 10:11:00  10794.1            7           1884.9

In [4]:
processed['position_profit'].value_counts()

position_profit
 0.0       160
-29.3        1
-66.9        1
 335.2       1
 45.8        1
-246.4       1
 568.9       1
-379.7       1
-1092.0      1
-348.3       1
-489.1       1
 3629.0      1
-250.1       1
-810.6       1
-299.7       1
 130.9       1
-1054.1      1
 747.1       1
-716.1       1
-1119.7      1
-466.0       1
 48.9        1
-561.3       1
 1884.9      1
Name: count, dtype: int64