# Equity Pipeline Debug Notebook

Демонстрация последовательных шагов подготовки данных: исходные сделки, трансформация сделок, загрузка свечей и простое объединение без дополнительных расчётов.

In [1]:
import pandas as pd
from pathlib import Path

from src.data.csv_transformer import load_transform_csv
from src.data.candle_loader import load_candles

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

## 1. Исходный CSV со сделками
Загружаем файл `test_result_SP.csv` без преобразований и выводим первые 60 строк.

In [2]:
raw_trades_path = Path('test_result_SP.csv')
raw_trades = pd.read_csv(raw_trades_path, sep=';', encoding='cp1251')
raw_trades.head(10)

,Дата и время,ID ТС,ID позиции,Код инструмента,ID транзакции,ID заявки,Сигнал,Цена входа позиции,Средняя цена позиции,Цена последней сделки,Текущее количество контрактов,Доход позиции,FlagStopPos,Unnamed: 13
0,16.09.2025 21:35:00,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Продажа,11.658,11.658000,11.658,-1,0.0,0,NaN
1,17.09.2025 10:21:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Продажа,11.658,11.677000,11.696,-2,0.0,0,NaN
2,17.09.2025 11:11:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Покупка,11.658,11.677000,11.642,-1,34.0,0,NaN
3,17.09.2025 15:11:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Продажа,11.658,11.679500,11.682,-2,34.0,0,NaN
4,17.09.2025 17:00:00,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Покупка,11.658,11.679500,11.703,0,-15.0,0,NaN
5,17.09.2025 17:00:00,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Покупка,11.703,11.703000,11.703,2,0.0,0,NaN
6,17.09.2025 17:56:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Покупка,11.703,11.702333,11.701,3,0.0,0,NaN
7,18.09.2025 12:01:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Покупка,11.703,11.690500,11.655,4,0.0,0,NaN
8,18.09.2025 17:56:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Продажа,11.703,11.690500,11.710,3,18.5,0,NaN
9,22.09.2025 10:01:15,CNYRUBF_эталон_volMed_1_07_10_1_2,NaN,CNYRUBF,0,0,Продажа,11.703,11.690500,11.755,2,82.0,0,NaN

## 2. Преобразование сделок с помощью `load_transform_csv`
Применяем функцию из `csv_transformer.py` и отображаем первые 60 строк.

In [3]:
transformed_trades = load_transform_csv(raw_trades_path)
transformed_trades.head(60).sort_values('date_time')

c:\Users\user\Documents\spreader_pro\code\test_visualisation\src\data\csv_transformer.py:73: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df["Дата и время"] = df["Дата и время"].dt.floor("T")  # 'T' == minute

               date_time  price  current_pos
1194 2025-09-17 09:00:00  11.65            1
1195 2025-09-17 10:01:00  11.70            0
1196 2025-09-17 10:16:00  11.70            1
1197 2025-09-17 11:25:00  11.65            2
1198 2025-09-17 15:36:00  11.70            1
1199 2025-09-18 11:45:00  11.65            2
1200 2025-09-18 12:41:00  11.70            1
1201 2025-09-18 13:35:00  11.67            2
1202 2025-09-18 20:46:00  11.72            1
1203 2025-09-22 10:01:00  11.75            0
1204 2025-09-22 10:11:00  11.76            1
1205 2025-09-22 11:26:00  11.73            2
1206 2025-09-23 10:06:00  11.71            3
1207 2025-09-23 11:11:00  11.69            4
1208 2025-09-23 13:21:00  11.74            3
1209 2025-09-23 22:06:00  11.76            2
1210 2025-09-23 22:06:00  11.78            1
1211 2025-09-24 11:10:00  11.74            2
1212 2025-09-24 13:40:00  11.71            3
1213 2025-09-24 14:35:00  11.68            0
1214 2025-09-24 14:35:00  11.68           -3
1215 2025-09-24 15:06:00  11.71           -4
1216 2025-09-25 10:40:00  11.73           -5
1217 2025-09-26 10:21:00  11.68           -4
1218 2025-09-26 17:36:00  11.66           -3
1219 2025-09-26 18:31:00  11.61           -2
1220 2025-09-29 09:56:00  11.65           -3
1221 2025-09-29 14:06:00  11.60           -2
1222 2025-09-29 17:06:00  11.58           -1
1223 2025-09-29 18:05:00  11.56            0
1224 2025-09-29 18:21:00  11.57           -1
1225 2025-09-29 19:36:00  11.60           -2
1226 2025-09-30 10:15:00  11.62           -3
1227 2025-09-30 11:51:00  11.57           -2
1228 2025-09-30 12:05:00  11.55           -1
1229 2025-09-30 13:05:00  11.52            0
1230 2025-10-01 09:11:00  11.49           -1
1231 2025-10-01 10:06:00  11.44            0
1232 2025-10-01 10:16:00  11.46           -1
1233 2025-10-01 11:21:00  11.40            0
1234 2025-10-01 12:56:00  11.39           -1
1235 2025-10-01 14:41:00  11.41           -2
1236 2025-10-01 16:36:00  11.36           -1
1237 2025-10-01 17:41:00  11.34            0
1238 2025-10-01 18:01:00  11.36           -1
1239 2025-10-02 09:16:00  11.30            0
1240 2025-10-02 09:30:00  11.31           -1
1241 2025-10-02 10:21:00  11.34           -2
1242 2025-10-02 13:05:00  11.38           -3
1243 2025-10-02 17:21:00  11.33           -2
1244 2025-10-02 19:21:00  11.29           -1
1245 2025-10-02 22:06:00  11.33           -2
1246 2025-10-03 10:01:00  11.35           -3
1247 2025-10-03 11:01:00  11.40           -4
1248 2025-10-03 12:16:00  11.44           -5
1249 2025-10-03 12:20:00  11.44            0
1250 2025-10-03 12:20:00  11.44            5
1251 2025-10-03 15:36:00  11.50            4
1252 2025-10-03 16:51:00  11.47            5
1253 2025-10-03 19:06:00  11.52            4

In [4]:
transformed_trades.tail(20)

               date_time  price  current_pos
1301 2025-10-15 16:16:00  10.99            0
1302 2025-10-15 17:41:00  10.99           -1
1303 2025-10-16 09:01:00  10.94            0
1304 2025-10-16 09:21:00  10.94           -1
1305 2025-10-16 10:01:00  10.99           -2
1306 2025-10-16 10:35:00  11.07            0
1307 2025-10-16 10:35:00  11.07            2
1308 2025-10-16 10:35:00  11.08            3
1309 2025-10-16 11:06:00  11.02            4
1310 2025-10-16 12:31:00  11.08            3
1311 2025-10-16 12:41:00  11.04            4
1312 2025-10-16 13:26:00  11.09            3
1313 2025-10-16 14:31:00  11.13            2
1314 2025-10-16 15:21:00  11.21            1
1315 2025-10-16 16:31:00  11.26            0
1316 2025-10-17 09:00:00  11.18            1
1317 2025-10-17 09:08:00  11.28            0
1318 2025-10-17 17:26:00  11.39            1
1319 2025-10-20 09:10:00  11.34            2
1320 2025-10-20 10:01:00  11.39            1

## 3. Загрузка свечей через `load_candles`
Пытаемся получить свечи непосредственно из `candle_loader.py`. Если функция недоступна из-за отсутствия исходных данных, используем подготовленный файл `test_result_SP_candle_data.csv` и фиксируем это в выводе.

In [5]:
candles = None
try:
    candles = load_candles('test_result_SP.csv')
    print('Свечи получены через load_candles')
except Exception as exc:
    print(f'load_candles завершился с ошибкой: {exc}')
    fallback_path = Path('test_result_SP_candle_data.csv')
    if not fallback_path.exists():
        raise
    candles = pd.read_csv(fallback_path)
    print('Используем подготовленный файл test_result_SP_candle_data.csv')

candles.head(30)

Свечи получены через load_candles

             DATE_TIME    OPEN    HIGH     LOW   CLOSE     VOL  1_step_price
0  2025-09-17 08:59:00  11.646  11.646  11.646  11.646   193.0        1000.0
1  2025-09-17 09:00:00  11.645  11.654  11.640  11.650  1741.0        1000.0
2  2025-09-17 09:01:00  11.647  11.664  11.647  11.664  2979.0        1000.0
3  2025-09-17 09:02:00  11.662  11.664  11.659  11.661  1947.0        1000.0
4  2025-09-17 09:03:00  11.660  11.663  11.660  11.663  1605.0        1000.0
5  2025-09-17 09:04:00  11.664  11.665  11.662  11.663  1029.0        1000.0
6  2025-09-17 09:05:00  11.663  11.663  11.660  11.663   784.0        1000.0
7  2025-09-17 09:06:00  11.663  11.664  11.661  11.662   420.0        1000.0
8  2025-09-17 09:07:00  11.661  11.662  11.655  11.659  1187.0        1000.0
9  2025-09-17 09:08:00  11.660  11.669  11.660  11.668  3035.0        1000.0
10 2025-09-17 09:09:00  11.668  11.670  11.667  11.669   467.0        1000.0
11 2025-09-17 09:10:00  11.670  11.671  11.668  11.669  1430.0        1000.0
12 2025-09-17 09:11:00  11.669  11.669  11.659  11.661  9421.0        1000.0
13 2025-09-17 09:12:00  11.660  11.665  11.660  11.665  1759.0        1000.0
14 2025-09-17 09:13:00  11.665  11.665  11.660  11.661   493.0        1000.0
15 2025-09-17 09:14:00  11.664  11.665  11.662  11.662    56.0        1000.0
16 2025-09-17 09:15:00  11.665  11.668  11.662  11.668   335.0        1000.0
17 2025-09-17 09:16:00  11.668  11.668  11.665  11.665   125.0        1000.0
18 2025-09-17 09:17:00  11.667  11.667  11.662  11.662   249.0        1000.0
19 2025-09-17 09:18:00  11.664  11.665  11.661  11.665   355.0        1000.0
20 2025-09-17 09:19:00  11.665  11.668  11.665  11.668   472.0        1000.0
21 2025-09-17 09:20:00  11.668  11.680  11.668  11.673  8070.0        1000.0
22 2025-09-17 09:21:00  11.673  11.673  11.668  11.670  2350.0        1000.0
23 2025-09-17 09:22:00  11.668  11.669  11.666  11.667  1363.0        1000.0
24 2025-09-17 09:23:00  11.667  11.667  11.662  11.665   129.0        1000.0
25 2025-09-17 09:24:00  11.662  11.663  11.658  11.661   929.0        1000.0
26 2025-09-17 09:25:00  11.661  11.662  11.658  11.660  1579.0        1000.0
27 2025-09-17 09:26:00  11.661  11.663  11.661  11.663   564.0        1000.0
28 2025-09-17 09:27:00  11.664  11.665  11.662  11.665   101.0        1000.0
29 2025-09-17 09:28:00  11.664  11.665  11.662  11.662   115.0        1000.0

## 4. Простое объединение свечей и трансформированных сделок
Объединяем данные по минутному времени (`left` join свечей и сделок) и выводим первые 60 строк для диагностики.

In [6]:
candles_frame = candles.copy()
candles_frame['date_time'] = pd.to_datetime(candles_frame['DATE_TIME']) #.dt.floor('T')

trades_frame = transformed_trades.copy()
trades_frame['date_time'] = pd.to_datetime(trades_frame['date_time'])

merged = pd.merge(
    candles_frame,
    trades_frame,
    how='outer',
    on='date_time',
    suffixes=('', '_trade'),
).sort_values('DATE_TIME')
# merged.head(60)

In [ ]:
# ...existing code...
# диагностика перед merge
print("len(candles):", len(candles_frame), "unique date_time:", candles_frame['date_time'].nunique())
print("len(trades):", len(trades_frame), "unique date_time:", trades_frame['date_time'].nunique())
print("candles dup by date_time:", candles_frame.duplicated(subset=['date_time']).sum())
print("trades dup by date_time:", trades_frame.duplicated(subset=['date_time']).sum())

# какие times встречаются чаще всего
all_times = pd.concat([candles_frame['date_time'], trades_frame['date_time']])
print(all_times.value_counts().head(20))

# сколько строк в результате на каждую метку времени
cnt = merged.groupby('date_time').size().sort_values(ascending=False).head(10)
print("top merged multiplicities:\n", cnt)
# ...existing code...

In [8]:
merged.head(100)

,DATE_TIME,OPEN,HIGH,LOW,CLOSE,VOL,1_step_price,date_time,price,current_pos
0,2025-09-17 08:59:00,11.646,11.646,11.646,11.646,193.0,1000.0,2025-09-17 08:59:00,NaN,NaN
1,2025-09-17 09:00:00,11.645,11.654,11.640,11.650,1741.0,1000.0,2025-09-17 09:00:00,11.65,1.0
2,2025-09-17 09:01:00,11.647,11.664,11.647,11.664,2979.0,1000.0,2025-09-17 09:01:00,NaN,NaN
3,2025-09-17 09:02:00,11.662,11.664,11.659,11.661,1947.0,1000.0,2025-09-17 09:02:00,NaN,NaN
4,2025-09-17 09:03:00,11.660,11.663,11.660,11.663,1605.0,1000.0,2025-09-17 09:03:00,NaN,NaN
5,2025-09-17 09:04:00,11.664,11.665,11.662,11.663,1029.0,1000.0,2025-09-17 09:04:00,NaN,NaN
6,2025-09-17 09:05:00,11.663,11.663,11.660,11.663,784.0,1000.0,2025-09-17 09:05:00,NaN,NaN
7,2025-09-17 09:06:00,11.663,11.664,11.661,11.662,420.0,1000.0,2025-09-17 09:06:00,NaN,NaN
8,2025-09-17 09:07:00,11.661,11.662,11.655,11.659,1187.0,1000.0,2025-09-17 09:07:00,NaN,NaN
9,2025-09-17 09:08:00,11.660,11.669,11.660,11.668,3035.0,1000.0,2025-09-17 09:08:00,NaN,NaN
10,2025-09-17 09:09:00,11.668,11.670,11.667,11.669,467.0,1000.0,2025-09-17 09:09:00,NaN,NaN
11,2025-09-17 09:10:00,11.670,11.671,11.668,11.669,1430.0,1000.0,2025-09-17 09:10:00,NaN,NaN
12,2025-09-17 09:11:00,11.669,11.669,11.659,11.661,9421.0,1000.0,2025-09-17 09:11:00,NaN,NaN
13,2025-09-17 09:12:00,11.660,11.665,11.660,11.665,1759.0,1000.0,2025-09-17 09:12:00,NaN,NaN
14,2025-09-17 09:13:00,11.665,11.665,11.660,11.661,493.0,1000.0,2025-09-17 09:13:00,NaN,NaN
15,2025-09-17 09:14:00,11.664,11.665,11.662,11.662,56.0,1000.0,2025-09-17 09:14:00,NaN,NaN
16,2025-09-17 09:15:00,11.665,11.668,11.662,11.668,335.0,1000.0,2025-09-17 09:15:00,NaN,NaN
17,2025-09-17 09:16:00,11.668,11.668,11.665,11.665,125.0,1000.0,2025-09-17 09:16:00,NaN,NaN
18,2025-09-17 09:17:00,11.667,11.667,11.662,11.662,249.0,1000.0,2025-09-17 09:17:00,NaN,NaN
19,2025-09-17 09:18:00,11.664,11.665,11.661,11.665,355.0,1000.0,2025-09-17 09:18:00,NaN,NaN
20,2025-09-17 09:19:00,11.665,11.668,11.665,11.668,472.0,1000.0,2025-09-17 09:19:00,NaN,NaN
21,2025-09-17 09:20:00,11.668,11.680,11.668,11.673,8070.0,1000.0,2025-09-17 09:20:00,NaN,NaN
22,2025-09-17 09:21:00,11.673,11.673,11.668,11.670,2350.0,1000.0,2025-09-17 09:21:00,NaN,NaN
23,2025-09-17 09:22:00,11.668,11.669,11.666,11.667,1363.0,1000.0,2025-09-17 09:22:00,NaN,NaN
24,2025-09-17 09:23:00,11.667,11.667,11.662,11.665,129.0,1000.0,2025-09-17 09:23:00,NaN,NaN
25,2025-09-17 09:24:00,11.662,11.663,11.658,11.661,929.0,1000.0,2025-09-17 09:24:00,NaN,NaN
26,2025-09-17 09:25:00,11.661,11.662,11.658,11.660,1579.0,1000.0,2025-09-17 09:25:00,NaN,NaN
27,2025-09-17 09:26:00,11.661,11.663,11.661,11.663,564.0,1000.0,2025-09-17 09:26:00,NaN,NaN
28,2025-09-17 09:27:00,11.664,11.665,11.662,11.665,101.0,1000.0,2025-09-17 09:27:00,NaN,NaN
29,2025-09-17 09:28:00,11.664,11.665,11.662,11.662,115.0,1000.0,2025-09-17 09:28:00,NaN,NaN
30,2025-09-17 09:29:00,11.663,11.665,11.662,11.665,319.0,1000.0,2025-09-17 09:29:00,NaN,NaN
31,2025-09-17 09:30:00,11.662,11.665,11.661,11.663,279.0,1000.0,2025-09-17 09:30:00,NaN,NaN
32,2025-09-17 09:31:00,11.662,11.664,11.661,11.664,438.0,1000.0,2025-09-17 09:31:00,NaN,NaN
33,2025-09-17 09:32:00,11.662,11.662,11.661,11.661,34.0,1000.0,2025-09-17 09:32:00,NaN,NaN
34,2025-09-17 09:33:00,11.662,11.663,11.662,11.663,54.0,1000.0,2025-09-17 09:33:00,NaN,NaN
35,2025-09-17 09:34:00,11.663,11.663,11.662,11.663,937.0,1000.0,2025-09-17 09:34:00,NaN,NaN
36,2025-09-17 09:35:00,11.663,11.664,11.662,11.664,235.0,1000.0,2025-09-17 09:35:00,NaN,NaN
37,2025-09-17 09:36:00,11.664,11.664,11.661,11.661,236.0,1000.0,2025-09-17 09:36:00,NaN,NaN
38,2025-09-17 09:37:00,11.662,11.663,11.661,11.661,78.0,1000.0,2025-09-17 09:37:00,NaN,NaN
39,2025-09-17 09:38:00,11.661,11.662,11.661,11.662,5.0,1000.0,2025-09-17 09:38:00,NaN,NaN
40,2025-09-17 09:39:00,11.662,11.663,11.662,11.663,11.0,1000.0,2025-09-17 09:39:00,NaN,NaN
41,2025-09-17 09:40:00,11.663,11.663,11.662,11.662,60.0,1000.0,2025-09-17 09:40:00,NaN,NaN
42,2025-09-17 09:41:00,11.662,11.664,11.662,11.664,358.0,1000.0,2025-09-17 09:41:00,NaN,NaN
43,2025-09-17 09:42:00,11.665,11.669,11.665,11.669,459.0,1000.0,2025-09-17 09:42:00,NaN,NaN
44,2025-09-17 09:43:00,11.667,11.670,11.665,11.669,855.0,1000.0,2025-09-17 09:43:00,NaN,NaN
45,2025-09-17 09:44:00,11.669,11.670,11.668,11.670,169.0,1000.0,2025-09-17 09:44:00,NaN,NaN
46,2025-09-17 09:45:00,11.670,11.673,11.667,11.668,1152.0,1000.0,2025-09-17 09:45:00,NaN,NaN
47,2025-09-17 09:46:00,11.667,11.671,11.667,11.671,584.0,1000.0,2025-09-17 09:46:00,NaN,NaN
48,2025-09-17 09:47:00,11.668,11.669,11.667,11.667,324.0,1000.0,2025-09-17 09:47:00,NaN,NaN
49,2025-09-17 09:48:00,11.667,11.670,11.667,11.670,51.0,1000.0,2025-09-17 09:48:00,NaN,NaN
50,2025-09-17 09:49:00,11.670,11.672,11.670,11.672,298.0,1000.0,2025-09-17 09:49:00,NaN,NaN
51,2025-09-17 09:50:00,11.672,11.672,11.667,11.667,1831.0,1000.0,2025-09-17 09:50:00,NaN,NaN
52,2025-09-17 09:51:00,11.668,11.668,11.668,11.668,259.0,1000.0,2025-09-17 09:51:00,NaN,NaN
53,2025-09-17 09:52:00,11.667,11.669,11.667,11.669,40.0,1000.0,2025-09-17 09:52:00,NaN,NaN
54,2025-09-17 09:53:00,11.669,11.673,11.668,11.673,1146.0,1000.0,2025-09-17 09:53:00,NaN,NaN
55,2025-09-17 09:54:00,11.671,11.673,11.671,11.673,397.0,1000.0,2025-09-17 09:54:00,NaN,NaN
56,2025-09-17 09:55:00,11.672,11.674,11.669,11.674,2471.0,1000.0,2025-09-17 09:55:00,NaN,NaN
57,2025-09-17 09:56:00,11.674,11.687,11.673,11.683,3866.0,1000.0,2025-09-17 09:56:00,NaN,NaN
58,2025-09-17 09:57:00,11.685,11.689,11.680,11.682,1273.0,1000.0,2025-09-17 09:57:00,NaN,NaN
59,2025-09-17 09:58:00,11.683,11.685,11.680,11.680,550.0,1000.0,2025-09-17 09:58:00,NaN,NaN
60,2025-09-17 09:59:00,11.680,11.685,11.678,11.684,2242.0,1000.0,2025-09-17 09:59:00,NaN,NaN
61,2025-09-17 10:00:00,11.684,11.691,11.672,11.676,8271.0,1000.0,2025-09-17 10:00:00,NaN,NaN
62,2025-09-17 10:01:00,11.678,11.679,11.675,11.678,3113.0,1000.0,2025-09-17 10:01:00,11.70,0.0
63,2025-09-17 10:02:00,11.678,11.700,11.678,11.700,23930.0,1000.0,2025-09-17 10:02:00,NaN,NaN
64,2025-09-17 10:03:00,11.699,11.715,11.699,11.714,30038.0,1000.0,2025-09-17 10:03:00,NaN,NaN
65,2025-09-17 10:04:00,11.714,11.720,11.714,11.714,15075.0,1000.0,2025-09-17 10:04:00,NaN,NaN
66,2025-09-17 10:05:00,11.714,11.715,11.708,11.709,7642.0,1000.0,2025-09-17 10:05:00,NaN,NaN
67,2025-09-17 10:06:00,11.708,11.711,11.704,11.710,8620.0,1000.0,2025-09-17 10:06:00,NaN,NaN
68,2025-09-17 10:07:00,11.708,11.711,11.707,11.710,7244.0,1000.0,2025-09-17 10:07:00,NaN,NaN
69,2025-09-17 10:08:00,11.711,11.711,11.708,11.709,4514.0,1000.0,2025-09-17 10:08:00,NaN,NaN
70,2025-09-17 10:09:00,11.710,11.711,11.709,11.709,4336.0,1000.0,2025-09-17 10:09:00,NaN,NaN
71,2025-09-17 10:10:00,11.710,11.714,11.702,11.713,9940.0,1000.0,2025-09-17 10:10:00,NaN,NaN
72,2025-09-17 10:11:00,11.713,11.716,11.710,11.710,7921.0,1000.0,2025-09-17 10:11:00,NaN,NaN
73,2025-09-17 10:12:00,11.710,11.711,11.701,11.704,4970.0,1000.0,2025-09-17 10:12:00,NaN,NaN
74,2025-09-17 10:13:00,11.705,11.705,11.700,11.704,6149.0,1000.0,2025-09-17 10:13:00,NaN,NaN
75,2025-09-17 10:14:00,11.704,11.705,11.701,11.702,1645.0,1000.0,2025-09-17 10:14:00,NaN,NaN
76,2025-09-17 10:15:00,11.702,11.703,11.700,11.700,3329.0,1000.0,2025-09-17 10:15:00,NaN,NaN
77,2025-09-17 10:16:00,11.700,11.701,11.694,11.694,9142.0,1000.0,2025-09-17 10:16:00,11.70,1.0
78,2025-09-17 10:17:00,11.694,11.697,11.692,11.696,1776.0,1000.0,2025-09-17 10:17:00,NaN,NaN
79,2025-09-17 10:18:00,11.696,11.696,11.694,11.695,1463.0,1000.0,2025-09-17 10:18:00,NaN,NaN
80,2025-09-17 10:19:00,11.694,11.696,11.694,11.694,839.0,1000.0,2025-09-17 10:19:00,NaN,NaN
81,2025-09-17 10:20:00,11.695,11.703,11.694,11.695,4793.0,1000.0,2025-09-17 10:20:00,NaN,NaN
82,2025-09-17 10:21:00,11.694,11.699,11.693,11.698,3355.0,1000.0,2025-09-17 10:21:00,NaN,NaN
83,2025-09-17 10:22:00,11.698,11.698,11.696,11.697,1166.0,1000.0,2025-09-17 10:22:00,NaN,NaN
84,2025-09-17 10:23:00,11.697,11.697,11.692,11.696,3643.0,1000.0,2025-09-17 10:23:00,NaN,NaN
85,2025-09-17 10:24:00,11.696,11.701,11.696,11.700,4031.0,1000.0,2025-09-17 10:24:00,NaN,NaN
86,2025-09-17 10:25:00,11.700,11.702,11.698,11.699,3358.0,1000.0,2025-09-17 10:25:00,NaN,NaN
87,2025-09-17 10:26:00,11.698,11.698,11.695,11.695,1850.0,1000.0,2025-09-17 10:26:00,NaN,NaN
88,2025-09-17 10:27:00,11.696,11.697,11.696,11.697,520.0,1000.0,2025-09-17 10:27:00,NaN,NaN
89,2025-09-17 10:28:00,11.697,11.697,11.695,11.695,275.0,1000.0,2025-09-17 10:28:00,NaN,NaN
90,2025-09-17 10:29:00,11.696,11.698,11.693,11.693,588.0,1000.0,2025-09-17 10:29:00,NaN,NaN
91,2025-09-17 10:30:00,11.693,11.697,11.693,11.695,1425.0,1000.0,2025-09-17 10:30:00,NaN,NaN
92,2025-09-17 10:31:00,11.695,11.697,11.685,11.685,5437.0,1000.0,2025-09-17 10:31:00,NaN,NaN
93,2025-09-17 10:32:00,11.686,11.688,11.684,11.688,2492.0,1000.0,2025-09-17 10:32:00,NaN,NaN
94,2025-09-17 10:33:00,11.688,11.688,11.680,11.685,3372.0,1000.0,2025-09-17 10:33:00,NaN,NaN
95,2025-09-17 10:34:00,11.685,11.687,11.684,11.685,1191.0,1000.0,2025-09-17 10:34:00,NaN,NaN
96,2025-09-17 10:35:00,11.686,11.687,11.684,11.686,532.0,1000.0,2025-09-17 10:35:00,NaN,NaN
97,2025-09-17 10:36:00,11.685,11.685,11.683,11.683,728.0,1000.0,2025-09-17 10:36:00,NaN,NaN
98,2025-09-17 10:37:00,11.683,11.684,11.682,11.683,820.0,1000.0,2025-09-17 10:37:00,NaN,NaN
99,2025-09-17 10:38:00,11.683,11.688,11.683,11.688,2145.0,1000.0,2025-09-17 10:38:00,NaN,NaN